doctype html
html
  head(lang="en-US")
    meta(name="fragment" content="!")
    meta(http-equiv="X-UA-Compatable" content="IE=edge,chrome=1; charset=UTF-8")
    title Backbone : Treeview Maroinette sample
    link(rel="stylesheet" id="responsive-style-css" href="css/stylesheet.css" type="text/css" media="all")
    script(src="js/main.js" type="text/javascript")
  body(class="" style="")
