@import "../js/libs/bootstrap/css/bootstrap.css";
@import "../js/libs/font-awesome/css/font-awesome.css";
.no-padding {
  padding: none;
}
.mt20 {
  margin-top: 20px;
}
.item-icon {
  margin-left: 5px;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
  cursor: pointer;
}
.item-icon:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body {
  padding-top: 70px;
}
