@import "nib"

@import "../js/libs/bootstrap/css/bootstrap.css"
@import "../js/libs/font-awesome/css/font-awesome.css"


@import "./mixins/mixins"
@import "./mixins/bootstrap-overrides"


.no-padding
  padding none

.mt20
  margin-top 20px

.item-icon
  margin-left 5px
  opacity 0.3
  transition opacity linear 0.2s
  cursor pointer

  &:hover
    opacity 1


body
  padding-top 70px

